.DS_Store
*.o
*.Po
*.Plo
*~
src/libcspec.a
sample/sample
sample_skip/sample_skip
sample_xml/sample
examples/sample/Makefile
examples/sample/Makefile.in
sample_xml/results.xml
autom4te.cache/*
.deps/*
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
COPYING.LESSER
depcomp
install-sh
libtool
ltmain.sh
m4/*
Makefile
Makefile.in
missing

